@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

a {
    text-decoration: none;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
    display:grid;
    font-family: 'Montserrat';
    grid-template-columns: minmax(250px,1fr) minmax(920px,3.75fr);
    grid-template-rows: 1fr 4.7fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content"
    
    
}

.header {
    background:#ffffff;
    grid-area: header;
    display:grid;
    grid-template-columns: 2fr 1fr;
    padding:16px 48px;
    align-items: center;
    gap:32px;

    .search {
        display: grid;
        grid-template-columns: auto 1fr;
        gap:16px;
    
        img {
            width: 28px;
        }
        
        input {
            border:none;
            background: #cbd5e1;
            border-radius: 12px;
            padding-left:8px;
            outline-color: #9ca3af;
        }
    }

    .welcomeUser {
        display:grid;
        grid-template-columns: auto 1fr;
        column-gap:32px;
        align-items: start;
        font-size: 1.5rem;
        font-weight: bold;

        img {
            height:80px;
            width: 80px;
            border-radius: 50px;
            grid-row: span 2;
        }
        :nth-child(2) {
            align-self: self-end;
            font-size:1rem;
        }
    }

    .cornerMenu {
        display:grid;
        grid-template-columns: auto auto auto;
        grid-template-rows:1fr;
        justify-content: flex-end;
        align-items: center;
        gap:0 16px;

        
        img {
            height:50px;
            width: 50px;
            border-radius: 50px;
            grid-row: span 2;
        }
        :first-child {
            height:30px;
            width: 30px;
        }


    }

    .header-options {
        display:grid;
        gap:16px;
        grid-template-columns: 1fr 1fr 1fr;

        button {
            border:none;
            background:#1992d4;
            border-radius: 20px;
            padding: 8px 24px;
            color:white;
            font-weight: bold;
        }

        button:hover {
            cursor: pointer;
            background:#155679;
        }
    }

}

.sidebar {
    display:grid;
    align-content: start;
    gap:48px;
    background: #1992d4;
    grid-area: sidebar;
    color:#d9ecf7;
    font-weight: bold;
    padding:32px;

    >* {
        display:grid;
        gap:16px;
        
    }

    .sidebar-options1, .sidebar-options2{

        div {
            display:grid;
            grid-template-columns: auto 1fr;
            gap:16px;
            align-items: center;
        }
    }

    .logo {
        display:grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap:16px;

        h2{
            font-size:1.8rem;
        }
    }



    a{
        font-size:1.4rem;
    }



    a:hover {
        font-size:1.5rem;
    }

    svg {
        height: 1.5rem;
        fill:#e2e8f0;
    }
}

.main-content {
    background:#e2e8f0;
    grid-area: main-content;

}

